/* Importation de la police */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Header */
header {
    background-color: #68E2EB;
    color: white;
    text-align: center;
    padding: 1.5em;
}

/* Titres */
h2 {
    color: #68E2EB;
}

/* Présentation avec bordure gauche */
#presentation {
    border-left: 5px solid #68E2EB;
    padding-left: 15px;
    margin-bottom: 40px;
}

/* Sections */
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Compétences en liste */
ul {
    list-style-type: none;
    padding: 0;
}

/* Liens des contacts avec animation */
a {
    color: #68E2EB;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #333;
}

/* Organisation des sections en colonnes sur écran large */
@media (min-width: 768px) {
    #presentation, #competences {
        display: inline-block;
        width: 45%;
        vertical-align: top;
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #68E2EB;
    color: white;
}
/* Autres styles déjà présents */

/* Section CV */
#cv-pdf {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style de l'iframe pour le CV */
iframe {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
